

$font-serif: 'Roboto Slab', serif;
$font-sans: 'NoirPro', sans-serif;


$color-text-dft:        #302F3E;
$color-text-drk:        #262531;
$color-text-lit:        #98989F;
$color-text-xlt:        #D5D5D8;

$color-primary-dft:     #1014FF;
$color-primary-drk:     #0C10CC;
$color-primary-lit:     rgba(16, 20, 255, 0.4);
$color-primary-xlt:     rgba(16, 20, 255, 0.2);

$color-secondary-dft:   #07D3B5;
$color-secondary-drk:   #05A890;
$color-secondary-lit:   rgba(7, 211, 181, 0.4);
$color-secondary-xlt:   rgba(7, 211, 181, 0.2);

$color-success-dft:     #75D010;
$color-success-drk:     #5DA60C;
$color-success-lit:     rgba(116, 221, 0, 0.4);
$color-success-xlt:     rgba(116, 221, 0, 0.2);

$color-info-dft:        #35C4FC;
$color-info-drk:        #2FB0E2;
$color-info-lit:        rgba(53, 196, 256, 0.4);
$color-info-xlt:        rgba(53, 196, 256, 0.2);

$color-warning-dft:     #FFC90A;
$color-warning-drk:     #E5B408;
$color-warning-lit:     rgba(255, 201, 10, 0.4);
$color-warning-xlt:     rgba(255, 201, 10, 0.2);

$color-danger-dft:      #FF3333;
$color-danger-drk:      #CC2828;
$color-danger-lit:      rgba(255, 51, 51, 0.4);
$color-danger-xlt:      rgba(255, 51, 51, 0.2);

$color-inverse-dft:     #303848;
$color-inverse-drk:     #262C39;
$color-inverse-lit:     rgba(48, 56, 72, 0.4);
$color-inverse-xlt:     rgba(48, 56, 72, 0.2);


$color-border-dft: #CED4DA;
$color-border-drk: #414141;
$color-border-lit: #DEDEDE;

$border-radious-xs: 4px;
$border-radious-sm: 6px;
$border-radious-md: 12px;
$border-radious-lg: 16px;


$px-xs: .125rem;
$px-sm: .25rem;
$px-md: .5rem;
$px-lg: 1rem;
$px-xl: 2rem;
$px-xx: 4rem;